.controlS{
    display: flex;
    justify-content: center;


}
select{
    width: 200px;
}
.expenses{
    display: flex;
    justify-content: center;
}
.expenses_description{
    margin-right: 80px;
}
.control_amount{
    margin-right: 40px;
}
